ul li {
  list-style: none;
  background: rgb(255, 239, 150);
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
}

.button {
  float: right;
  border-radius: 30px;
  font-size: 12px;
  background: rgb(229, 232, 236);
}
