.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-wrapper {
  height: 60vh;
  margin: 10px 50px;
  filter: drop-shadow(-1px 5px 3px #ccc);
}
.info-wrapper {
  margin-top: 15px;
}
.map-details {
  text-align: center;
  font-size: 1.2em;
}
.map-details span {
  font-weight: bold;
}
.search-input {
  font-size: 1.2em;
  width: 100%;
}

.jumbotron {
  padding: 10px 10px 10px 10px;
  margin: 0px auto;
  background: rgb(234, 237, 238);
  color: black;
}

.logo {
  width: 210px;
  height: 150px;
}

.scroll {
  max-height: 20vh;
  height: 20vh;
  overflow-y: auto;
}

.bluePin {
  width: 38px;
  height: 37px;
}

.redPin {
  width: 38px;
  height: 37px;
}

.orangePin {
  width: 37px;
  height: 37px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}
  
